* {
  background-color: #72aee6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

textarea {
  width: 80%;
  min-height: 200px;
  min-width: 50%;
  height: 250px;
  margin-top: 8vh;
  background-color: #9ec2e6;
}